################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.config
*.vsidx
*.lock
*.wsuo
*.json
*.sqlite
*.zip
